
@{

    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @RenderPage("~/Views/Shared/Include.cshtml")
    <link href="../../Resource/movie/css/video-js.min.css" rel="stylesheet" />
    <script src="../../Resource/movie/js/video.min.js"></script>

    <script>
        videojs.options.flash.swf = "video-js.swf";
    </script>
</head>
<body>

        @RenderPage("~/Views/Shared/upload.cshtml")

        <p align="center">
            <video id="example_video1" class="video-js vjs-default-skin" controls=controls preload="none" width="640" height="480"
                   data-setup="{}">
                <source src="../../demo.mp4" type='video/mp4' />
            </video><br/>
            <a href=“javascript:void(0);“ class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="history.back(-1); return false;">返回</a>
        </p>


</body>
</html>

<script type="text/javascript">

    function SubmitData() {
        if ($("#frm_edit").form('validate')) {
            $("#btnLogin").linkbutton("disable");
            $.messager.alert("操作提示", "操作成功！", "info", function (r) {
                setTimeout(function () { $('#frm_edit').submit() }, 0);
            });
        }
    }


</script>

<script src="../../Resource/upload.js"></script>



  


